<h1>List of Destinations</h1>

<ul>
  <% @destinations.each do |destination| %>
    <br>
    <li>
      <%= link_to destination.name, destination_path(destination) %> <br>
      <%= "Country: #{destination.country}" %> <br>
    </li>
  <% end %>
</ul>
